@{
    ViewBag.Title = "个人曲线";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("HomePartialView")

<!--<script src="~/Resources/js/common/jquery-1.9.1.js"></script>-->

<div class="container" style="margin: 100px">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <div class="col-md-4 column">
            </div>
            <div class="col-md-8 column">
                <h3>选择</h3>
                <form action="#" method="post" enctype="multipart/form-data">
                    <p id="error" style="color: red; text-align: center">&nbsp;</p>
                    <div class="form-group">
                        <label for="exampleInputEmail1">选择考试科目</label>
                        <select id="subject" name="subject">
                            <option value="Access">Access</option>
                            <option value="C">C语言</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 column">
            <div id="chart" style="height: 400px; width: 600px"></div>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>



<!--<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>-->
<script src="~/Resources/js/utility/echarts.common.min.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts图表
    // 基于准备好的dom，初始化echarts图表
    var subject = "Access";
    var myChart = echarts.init(document.getElementById("chart"));
    var y = [];
    var x = [];
    $(document).ready(function () {
        $("#subject").change(function () {
            subject = $("#subject").find("option:selected").text();
            x = [];
            y = [];
            y = arrTest();
            x = GetX();
            if (typeof (y[0]) == "undefined")//证明没有找到成绩
            {
                x = ['无考试成绩'];
                y = [0];
            }
            option.series[0].data = y;
            option.xAxis[0].data = x;
            myChart.setOption(option);
        });
    });
    function arrTest() {
        $.ajax({
            type: "post",
            async: false,
            url: "@Url.Content("~/Student/GradeClassChart/")",
            data: { "subject": subject },
            dataType: "json",
            success: function (result) {
                if (result) {
                    for (var i = 0; i < result.length; i++) {
                        y.push(result[i]);
                    }
                }
            }
        })

        return y;
    }
    function GetX() {
        $.ajax({
            type: "post",
            async: false,
            url: "@Url.Content("~/Student/GradeClassChart_X/")",
            data: { "subject": subject },
            dataType: "json",
            success: function (result) {
                x = [];
                if (result) {
                    for (var i = 0; i < result.length; i++) {
                        x.push(result[i]);
                    }
                }
            }
        })

        return x;
    }
    arrTest();
    GetX();
    var option = {
        title: {
            text: '平均成绩曲线',
            subtext: '@ViewBag.userclass'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['成绩曲线']
        },
        //右上角工具条
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                magicType: { show: true, type: ['line', 'bar'] },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: x
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} '
                }
            }
        ],
        series: [
            {
                name: '成绩曲线',
                type: 'line',
                data: y,
                markPoint: {
                    data: [
                        { type: 'max', name: '最大值' },
                        { type: 'min', name: '最小值' }
                    ]
                },
                markLine: {
                    data: [
                        { type: 'average', name: '平均值' }
                    ]
                }
            }
        ]
    };

    // 为echarts对象加载数据
    myChart.setOption(option);

</script>
