@{
    ViewBag.Title = "上传页面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("HomePartialView_3")


<link href="~/resouces/css/main.css" rel="stylesheet" type="text/css">
<link href="~/Resources/css/login-register.css" rel="stylesheet" />
<link href="~/Resources/css/button.css" rel="stylesheet" />

<div class="container" style="margin: 100px">
    <div class="row clearfix">
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
            <h3>请输入这是第几次考试
            </h3>
            <form action="@Url.Content("~/Head/ChooseWhichTime/")" method="post" >
                <p id="error" style="color: red; text-align: center">@Request.Params["errorMsg"]</p>
                <div class="form-group">
                    <label for="exampleInputEmail1">第</label>
                    <input type="text" name="whichTime" id="whichTime"/>
                    <label for="exampleInputEmail1">次</label>
                </div>
                <center><input class="btn btn-default btn-login" type="submit" value="ok"></center>
            </form>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>
