@{
    ViewBag.Title = "课题组组长首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("HomePartialView_3")

<link href="~/Resources/css/index.css" rel="stylesheet" />
<link href="~/Resources/css/main.css" rel="stylesheet" type="text/css">
<link href="~/Resources/css/themify-icons.css" rel="stylesheet" />

<div class="container">
    <div class="fh5co-spacer fh5co-spacer-md"></div>
    <div class="row" id="fh5co-features">

        <!--成绩曲线-->
        <div class="col-md-6 col-sm-4 text-center fh5co-feature feature-box">
            <figure class="effect-sadie">
                <div class="fh5co-feature-icon">
                    <a href="~/Head/SchoolGradePage/"><i class="ti-bar-chart-alt"></i></a>
                </div>
                <h3 class="heading tm-figure-title">本课题组内成绩曲线</h3>
                <p style="color: #8b969c; padding-top: 20px">点击这里可以查看本课题组内，全校的的学习变化曲线</p>
            </figure>
        </div>
        <!--上传成绩-->
        <div class="col-md-6 col-sm-4 text-center fh5co-feature feature-box">
            <figure class="effect-sadie">
                <div class="fh5co-feature-icon">
                    <a href="@Url.Content("~/Head/ChooseWhichTimePage/")"><i class="ti-upload"></i></a>
                </div>
                <h3 class="heading">上传成绩</h3>
                <p style="color: #8b969c; padding-top: 20px">点击这里可以上传考试系统导出的成绩单</p>
            </figure>
        </div>
        <!--知识点-->
        <div class="col-md-6 col-sm-4 text-center fh5co-feature feature-box">
            <figure class="effect-sadie">
                <div class="fh5co-feature-icon">
                    <a href="@Url.Content("~/Head/SchoolKnowledgePage/")"><i class="ti-book"></i></a>
                </div>
                <h3 class="heading">知识点掌握情况</h3>
                <p style="color: #8b969c; padding-top: 20px">点击这里可以查看本课题组内，全校对知识点的掌握情况</p>
            </figure>
        </div>
        <!--使用指南-->
        <div class="col-md-6 col-sm-4 text-center fh5co-feature feature-box">
            <figure class="effect-sadie">
                <div class="fh5co-feature-icon">
                    <a href="@Url.Content("~/Head/ManageTeacherPage/")"><i class="ti-help"></i></a>
                </div>
                <h3 class="heading">教师管理</h3>
                <p style="color: #8b969c; padding-top: 20px">管理本课题组内教师</p>
            </figure>
        </div>

    </div>

    <div class="fh5co-spacer fh5co-spacer-md"></div>
</div>
